@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
body,
html {
  overflow-x: hidden;
  font-family: "Clash Display", sans-serif;
}
:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --tertiary-color: #050b20;
  --line-color: #405ff2;
  --card-color: #06201d;
  --btn-color: #00b67a;
  --footer-color: #06201d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1320px !important;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style-type: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
nav,
.navbar-collapsed,
.navbar-collapsed > ul {
  display: flex;
  align-items: center;
}
.btn-nav {
  position: relative;
  padding: 15.5px 31.5px;
  color: var(--secondary-color);
  background: var(--primary-color);
  font-family: "DM Sans", sans-serif;
  border-radius: 33px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  transition: color 0.3s ease, transform 0.3s ease;
  z-index: 1;
}
.btn-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0%;
  height: 100%;
  background: var(--btn-color);
  transition: width 0.5s ease;
  transform: translateX(-50%);
  z-index: -1;
  border-radius: 33px;
}

.btn-nav:hover {
  color: #fff;
}

.btn-nav:hover::before {
  width: 100%;
}
/* Header-Section */
.hdr-sec {
  padding: 30px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10; /* navbar upore thakbe */
}
.navbar-brand {
  width: 166px;
}
.navbar {
  background: none !important;
}
.nav-logo {
  margin-right: 79px;
}
.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navbar-nav {
  border: 1px solid var(--primary-color);
  max-width: 784px;
  padding: 17px 27px;
  margin: 0 auto;
  align-items: center;
  border-radius: 68px;
}
.navbtn {
  margin-left: 79px;
}
.offcanvas {
  flex-direction: row !important;
  align-items: center;
  background: rgba(0, 0, 0, 0.4); /* semi-transparent black */
  backdrop-filter: blur(20px); /* blur intensity for glass effect */
  -webkit-backdrop-filter: blur(20px); /* for Safari support */
  border: 1px solid rgba(255, 255, 255, 0.1); /* optional: subtle glass border */
}
.nav-link {
  padding: 0 !important;
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 400;
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}
.first-link {
  margin-left: 27px;
}
.nav-item {
  margin-right: 27px;
}
.navbar-nav > li > .nav-item:last-child {
  margin: 0 !important;
}
/* hover-effect nav-link*/
.nav-link::before,
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--btn-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: center;
  border-radius: 5px;
}
.nav-link::before {
  top: -6px;
}
.nav-link::after {
  bottom: -6px;
}
.nav-link:hover {
  color: var(--primary-color);
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}
/* Banner-Section */
.banner-sec {
  position: relative;
  min-height: 100vh;
  padding: 0 0 100px;
  background: url(../assets/about/about-banner.png) no-repeat center/cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  z-index: 1;
}
.banner-sec::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.banner-cntn {
  position: relative;
  z-index: 2;
}
.banner-heading {
  font-size: 70px;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.banner-sub-heading > a {
  font-size: 40px;
  font-weight: 400;
  color: var(--primary-color);
}
.banner-sub-heading > a:hover {
  color: var(--btn-color);
}
/* extraordinary-section */
.extraordinary-sec {
  padding: 160px 0 160px;
}
.oridinary-head > h2 {
  font-size: 40px;
  font-weight: 500;
  color: var(--secondary-color);
  line-height: 40px;
}
.ordinary-sub > h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  color: var(--secondary-color);
}
.ordinary-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.8px;
  color: var(--secondary-color);
  margin-block: 20px;
  font-family: "DM Sans", sans-serif;
}
.video-sec {
  padding-bottom: 160px;
}

.video {
  max-width: 1296px;
  min-height: 600px;
  background: url(../assets/about/video-background.png) no-repeat center/cover;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.video-icon {
  width: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.video-icon:hover {
  transform: scale(1.1);
}

.video-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* counter-car */
.count-car {
  text-align: center;
}
.counter-cntn > h1 {
  font-size: 80px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  color: var(--tertiary-color);
}
.counter-cntn > p {
  font-size: 20px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  color: var(--secondary-color);
}
/* iphone-section */
.iphone-sec {
  padding: 320px 0 140px;
}
.iphone-back {
  background: var(--footer-color) no-repeat center/cover;
  width: 1296px;
  height: 417px;
  border-radius: 40px;
  position: relative;
  margin: 0 auto;
}
.iphone {
  width: 267px;
  height: 540px;
  position: absolute;
  bottom: 19.5px;
  left: 163px;
}
.iphone > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.iphone-cntn {
  padding: 80px 136px 180px 560px;
}
.iphone-cntn > p {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}
.iphone-cntn > h2 {
  font-size: 48px;
  font-weight: 500;
  color: var(--primary-color);
}
.iphone-para {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
}
.iphone-heading {
  margin-bottom: 20px;
}
.iphone-sub {
  margin-bottom: 5px;
}
.playstore {
  width: 171px;
  margin-right: 24px;
}
.appstore {
  width: 171px;
}
.playstore > a>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.appstore > a>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Media Query */
@media screen and (max-width: 1330px) {
  /* iphopne-sec */
  .iphone-cntn {
    padding: 56px 64px 72px 478px;
  }
  .iphone-back {
    background: var(--footer-color) no-repeat center / cover;
    width: 952px;
    height: 417px;
    border-radius: 40px;
    position: relative;
    margin: 0 auto;
  }
  .iphone {
    width: 227px;
    height: 479px;
    position: absolute;
    bottom: 80.5px;
    left: 105px;
  }
  .iphone-cntn > h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--primary-color);
  }
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
  /* Header-Section */
  .offcanvas {
    flex-direction: column !important;
  }
  .navbar-nav,
  .navbtn,
  .nav-item {
    margin: 0 !important;
    text-align: center !important;
  }
  .navbar-nav {
    border: none;
  }
  .nav-link {
    margin: 6px 0 !important;
  }
}
@media screen and (max-width: 992px) {
  /* header-Section */
  .offcanvas {
    flex-direction: column !important;
  }
  .navbar-nav,
  .navbtn,
  .nav-item {
    margin: 0 !important;
    text-align: center !important;
    padding: 0 !important;
  }
  /* extraordinary-section */
  .oridinary-head > h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--secondary-color);
    line-height: 40px;
  }
  .extraordinary-sec {
    padding: 71px 0 76px;
  }
  .ordinary-sub > h2 {
    font-size: 27px;
    font-weight: 500;
    line-height: 38px;
    color: var(--secondary-color);
  }
  .ordinary-para {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.8px;
    color: var(--secondary-color);
    margin-block: 14px;
    font-family: "DM Sans", sans-serif;
  }
  /* video-section */
  .video-sec {
    padding-bottom: 50px;
  }
  .video {
    max-width: 1119px;
    min-height: 441px;
    background: url(../assets/about/video-background.png) no-repeat center /
      cover;
  }
  .video-icon {
    width: 60px;
  }
  /* count-car-section */
  .counter-cntn > h1 {
    font-size: 67px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    color: var(--tertiary-color);
  }
  .counter-cntn > p {
    font-size: 16px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    color: var(--secondary-color);
  }
  /* iphone-section */
  .iphone {
    width: 153px;
    height: 307px;
    position: absolute;
    bottom: 265.5px;
    left: 54px;
  }
  .iphone-back {
    background: var(--footer-color) no-repeat center / cover;
    width: 735px;
    height: 417px;
    border-radius: 40px;
    position: relative;
    margin: 0 auto;
  }
  .iphone-cntn {
    padding: 40px 51px 61px 273px;
  }
}
@media screen and (max-width: 768px) {
  /* video-section */
  .video {
    max-width: 1119px;
    min-height: 354px;
    background: url(../assets/about/video-background.png) no-repeat center /
      cover;
  }
  /* count-car-section */
  .counter-cntn > h1 {
    font-size: 40px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    color: var(--tertiary-color);
  }
  .counter-cntn > p {
    font-size: 13px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    color: var(--secondary-color);
  }
  /* iphone-section */
  .iphone-back {
    background: var(--footer-color) no-repeat center / cover;
    width: 750px;
    height: 386px;
    border-radius: 40px;
    position: relative;
    margin: 0 auto;
  }
  .iphone-back {
    background: var(--footer-color) no-repeat center / cover;
    width: 555px;
    height: 386px;
    border-radius: 40px;
    position: relative;
  }
}
@media screen and (max-width: 576px) {
  /* Header-section */
  .navbar-brand {
    width: 90px;
  }
  /* Banner-section */
  .banner-heading {
    font-size: 43px;
    font-weight: 400;
    color: var(--primary-color);
    margin-bottom: 10px;
  }
  .banner-sub-heading {
    font-size: 21px;
    font-weight: 400;
    color: var(--primary-color);
  }
  /* Extra-ordinary-section */
  .oridinary-head > h2 {
    font-size: 24px;
    font-weight: 500;
    color: var(--secondary-color);
    line-height: 40px;
  }
  .ordinary-sub > h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--secondary-color);
  }
  .ordinary-para {
    font-size: 12px;
    font-weight: 400;
    line-height: 19.8px;
    color: var(--secondary-color);
    margin-block: 10px;
    font-family: "DM Sans", sans-serif;
  }
  .extraordinary-sec {
    padding: 47px 0 47px;
  }
  /* count-car-section */
  .counter-cntn > h1 {
    font-size: 30px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    color: var(--tertiary-color);
  }
  .counter-cntn > p {
    font-size: 12px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    color: var(--secondary-color);
  }
  /* iphone-section */
  .iphone {
    width: 102px;
    height: 207px;
    position: absolute;
    bottom: 274.5px;
    left: 417px;
  }
  .iphone-cntn {
    padding: 64px 15px 15px 14px;
  }
  .iphone {
    width: 75px;
    height: 154px;
    position: absolute;
    bottom: 338.5px;
    left: 147px;
  }
  .iphone-back {
    background: var(--footer-color) no-repeat center / cover;
    width: 378px;
    height: 386px;
    border-radius: 40px;
    position: relative;
  }
  .store-sec {
    margin-top: 72px;
  }
  .iphone-cntn > .iphone-sub {
    font-size: 17px;
  }
  .iphone-cntn > h2 {
    font-size: 19px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 17px;
  }
  .iphone-para {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
  }
  .iphone-cntn > .iphone-heading {
    font-size: 25px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 17px;
  }
  .iphone-sec {
    padding: 137px 0 140px;
  }
}
@media screen and (max-width: 400px) {
  /* video-secton */
  .video {
    max-width: 1115px;
    min-height: 162px;
    background: url(../assets/about/video-background.png) no-repeat center /
      cover;
  }
  /* count-car-section */
  .counter-cntn > p {
    font-size: 9px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    color: var(--secondary-color);
  }
  .counter-cntn > h1 {
    font-size: 26px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    color: var(--tertiary-color);
  }
  /* iphone-section */
  .iphone {
    width: 102px;
    height: 207px;
    position: absolute;
    bottom: 274.5px;
    left: 42px;
  }
  .iphone-cntn {
    padding: 64px 15px 15px 14px;
  }
  .iphone {
    width: 64px;
    height: 134px;
    position: absolute;
    bottom: 338.5px;
    left: 114px;
  }
  .iphone-back {
    background: var(--footer-color) no-repeat center / cover;
    width: 292px;
    height: 386px;
    border-radius: 40px;
    position: relative;
  }
  .store-sec {
    margin-top: 72px;
  }
  .iphone-cntn > .iphone-sub {
    font-size: 11px;
  }
  .iphone-cntn > h2 {
    font-size: 19px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 17px;
  }
  .iphone-para {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
  }
  .iphone-cntn > .iphone-heading {
    font-size: 19px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 17px;
  }
  .iphone-sec {
    padding: 137px 0 140px;
  }
}
@media screen and (max-width: 320px) {
}
