@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
body,
html {
  overflow-x: hidden;
  font-family: "Clash Display", sans-serif;
}
:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --tertiary-color: #050b20;
  --line-color: #405ff2;
  --card-color: #06201d;
  --btn-color: #00b67a;
  --footer-color: #06201d;
  --looking: #00b67a;
  --box-color: #ebeaea;
  --box-border: #cdcdcd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1320px !important;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style-type: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
nav,
.navbar-collapsed,
.navbar-collapsed > ul {
  display: flex;
  align-items: center;
}
.btn-nav {
  position: relative;
  padding: 15.5px 31.5px;
  color: var(--secondary-color);
  background: var(--primary-color);
  font-family: "DM Sans", sans-serif;
  border-radius: 33px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  transition: color 0.3s ease, transform 0.3s ease;
  z-index: 1;
}
.btn-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0%;
  height: 100%;
  background: var(--btn-color);
  transition: width 0.5s ease;
  transform: translateX(-50%);
  z-index: -1;
  border-radius: 33px;
}

.btn-nav:hover {
  color: #fff;
}

.btn-nav:hover::before {
  width: 100%;
}
/* Header-Section */
.hdr-sec {
  padding: 30px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10; /* navbar upore thakbe */
}
.navbar-brand {
  width: 166px;
}
.navbar {
  background: none !important;
}
.nav-logo {
  margin-right: 79px;
}
.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navbar-nav {
  border: 1px solid var(--primary-color);
  max-width: 784px;
  padding: 17px 27px;
  margin: 0 auto;
  align-items: center;
  border-radius: 68px;
}
.navbtn {
  margin-left: 79px;
}
.offcanvas {
  flex-direction: row !important;
  align-items: center;
  background: rgba(0, 0, 0, 0.4); /* semi-transparent black */
  backdrop-filter: blur(20px); /* blur intensity for glass effect */
  -webkit-backdrop-filter: blur(20px); /* for Safari support */
  border: 1px solid rgba(255, 255, 255, 0.1); /* optional: subtle glass border */
}
.nav-link {
  padding: 0 !important;
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 400;
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}
.first-link {
  margin-left: 27px;
}
.nav-item {
  margin-right: 27px;
}
.navbar-nav > li > .nav-item:last-child {
  margin: 0 !important;
}
/* hover-effect nav-link*/
.nav-link::before,
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--btn-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: center;
  border-radius: 5px;
}
.nav-link::before {
  top: -6px;
}
.nav-link::after {
  bottom: -6px;
}
.nav-link:hover {
  color: var(--primary-color);
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}
/* modal */
.modal {
  padding-right: 0 !important;
}
.ca-modal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  border-radius: 28px;
  overflow: hidden;
  border: none;
}

/* LEFT */
.ca-left {
  width: 50%;
  background: url(../assets/moda-back.png) center/cover no-repeat;
  padding: 60px 40px;
  position: relative;
  text-align: center;
}

.ca-left h1 {
  font-size: 49px;
  font-weight: 500;
  margin-bottom: 38px;
  color: var(--primary-color);
}

.ca-left .sub-txt {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 38px;
  font-family: "DM Sans", sans-serif;
}

.left-btn {
  border: 1px solid var(--primary-color);
  background: transparent;
  padding: 20px 97px;
  border-radius: 43px;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.ca-car {
  width: 411px;
  position: absolute;
  bottom: -6px;
  left: 12%;
}
.ca-car > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT */
.ca-right {
  width: 50%;
  background: var(--btn-color);
  padding: 60px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ca-right h1 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 25px;
}

/* Social icons */
.social-icons i {
  font-size: 30px;
  background: var(--primary-color);
  padding: 10px;
  width: 48px;
  height: 48px;
  line-height: 28px;
  border-radius: 50%;
  margin: 0 8px;
  color: var(--btn-color);
  cursor: pointer;
}

.small-text {
  margin-top: 18px;
  margin-bottom: 25px;
  color: var(--primary-color);
  opacity: 0.8;
  font-size: 14px;
}

/* Inputs */
.input-line {
  width: 340px;
  background: #c8ffd9;
  padding: 12px 15px;
  border-radius: 7px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.input-line input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
}

.right-btn {
  background: var(--primary-color);
  color: var(--btn-color);
  padding: 14px 55px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  border: none;
  font-family: "DM Sans", sans-serif;
}
.close-right-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  background: transparent;
  border: none;
  font-size: 28px;
  color: var(--primary-color);
  cursor: pointer;
  z-index: 10;
}

.close-right-btn:hover {
  color: #000;
  transform: scale(1.1);
  transition: 0.3s;
}
.modal-dialog {
  margin: 40px auto !important;
}
/* Banner-Section */
.banner-sec {
  position: relative;
  min-height: 100vh;
  padding: 0 0 100px;
  background: url(../assets/car/car-banner.png) no-repeat center/cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
}
.banner-heading {
  font-size: 70px;
  font-weight: 400;
  color: var(--primary-color);
}
.banner-heading > a {
  font-size: 70px;
  font-weight: 400;
  color: var(--primary-color);
}
/* bmw-sec */
.btn-bmw {
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  padding: 14px 45px;
  border-radius: 30px;
  background: #003f2c;
  display: inline-block;
}

.bmw-btn {
  text-align: left;
  margin: 15px 0 30px;
}

.bmw-sec {
  padding: 100px 0;
}

.bmw-sec .row {
  align-items: flex-start;
}
.bm1 {
  margin-right: 13px;
}
.bmw-img {
  width: 100%;
  max-width: 480px;
  height: 330px;
  border-radius: 21px;
  overflow: hidden;
  margin-bottom: 20px;
}

.bmw-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drive-bmw .bm1 {
  width: 150px;
  height: 95px;
  border-radius: 20px;
  overflow: hidden;
}

.drive-bmw .bm1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT SIDE */
.bmw-specification h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 35px;
}

.box-sec {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.box {
  width: 200px;
  height: 150px;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 12px;
  box-shadow: 6px 6px 0px #c7c7c7;
  border: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.box-icon {
  width: 35px;
  height: 35px;
}

.box-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.equipment-heading h2 {
  margin: 25px 0;
}

.tick-section {
  display: flex !important;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
  width: auto !important;
}
.btn-bmw:hover {
  background: #00b67a; /* hover green */
  border-color: #00b67a; /* border match */
  transform: translateY(-3px); /* smooth lift */
  box-shadow: 0 6px 15px rgba(0, 182, 122, 0.4);
  color: #fff;
}
.tick-section img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}
/* Browse-sec */
.browse-top {
  margin-bottom: 30px;
}
.browse-sec {
  padding-bottom: 100px;
}
.browse-heading {
  margin-bottom: 40px;
}
.browse-heading > h5 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  color: var(--tertiary-color);
}
.browse-top-left {
  position: relative;
  width: 648px;
  height: 349px;
  border-radius: 20px;
  overflow: hidden;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.browse-top-left .browse-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.browse-btn {
  position: absolute;
  bottom: 43px;
  left: 47px;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 25px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.browse-btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.browse-1 {
  width: 416px;
  height: 349px;
  border-radius: 20px;
  overflow: hidden;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.browse-1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.browse-2 {
  width: 432px;
}
.btn-tertiary {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 400;
  border: 1px solid var(--secondary-color);
  padding: 1px 0 0px 20px;
  border-radius: 48px;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  z-index: 1;
}

.btn-tertiary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--btn-color);
  transition: width 0.4s ease;
  z-index: -1;
}

.btn-tertiary:hover::before {
  width: 100%;
}

.btn-tertiary:hover {
  color: var(--primary-color);
}

.card-btn > .btn-tertiary > img {
  width: 46px;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.card-btn {
  margin-top: 52px;
  text-align: center;
}
.browse-btn {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Hover: show the button */
.browse-top-left:hover .browse-btn,
.browse-1:hover .browse-btn {
  opacity: 1;
  transform: translateY(0);
}
/* Shopbox-Sec */
.shopbox-sec {
  padding-bottom: 100px;
}
.shop-heading {
  width: 450px;
}
.shop-heading > h4 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 50px;
}
.shop-top {
  margin-bottom: 45px;
}
.shop-link {
  margin-right: 38px;
  font-size: 20px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: var(--tertiary-color);
  position: relative;
}
.shop-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #405ff2;
  border-radius: 2px;
}
.w-20 {
  width: 20%;
}
.car-varient {
  font-size: 18px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  color: var(--tertiary-color);
  margin-bottom: 13px;
}
.car-type {
  padding-left: 0;
}

.car-varient {
  list-style: none;
  padding: 8px 0;
  font-size: 16px;
  color: #333;
  transition: color 0.3s ease;
}

.car-varient:hover {
  color: #405ff2;
  cursor: pointer;
}
/* premimum-section */
.premium-sec {
  padding-bottom: 62px;
}
.premum-head > h5 {
  font-size: 40px;
  font-weight: 500;
  color: var(--tertiary-color);
}
.premimum-seco {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* brand-section */
.brand-sec {
  padding-bottom: 100px;
  overflow: hidden;
}

.brand-slider {
  display: flex;
  overflow: hidden;
  position: relative;
}

.brand-track {
  display: flex;
  align-items: center;
  gap: 40px;
  animation: scroll 10s linear infinite;
}

.brand-img,
.brand-img-4 {
  flex-shrink: 0;
}

.brand-img {
  width: 100px;
}

.brand-img-4 {
  width: 151px;
}

.brand-img img,
.brand-img-4 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Smooth, never-ending scroll */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Optional: pause on hover */
.brand-slider:hover .brand-track {
  animation-play-state: paused;
}
/* footer-section */
.footer-sec {
  background: var(--footer-color);
  padding-top: 34px;
}
.footer-logo {
  width: 168px;
}
.footer-top {
  margin-bottom: 61px;
}
.footer-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.address-logo {
  width: 40px;
}
.address-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.address-logo:hover {
  transform: translateY(-4px);
}
.footer-para {
  font-size: 20x;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 0 !important;
  margin-left: 12px;
  font-family: "DM Sans", sans-serif;
}
.footer-1 {
  max-width: 291px;
}
.footer-1 > h5 {
  font-size: 20px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  line-height: 27.8px;
  color: var(--primary-color);
  line-height: 27.8px;
  margin-bottom: 32px;
}
.socal-logo {
  width: 34px;
}
.socal-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.socal-logo:hover {
  transform: translateY(-4px);
}
.footer-2 {
  width: 110px;
}
.footer-heading {
  font-size: 22px;
  font-weight: 600;
  color: var(--primary-color);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 15px;
}
.footer-link > a {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 6px;
}
.footer-link > a:hover {
  color: var(--btn-color);
}
.download-heading {
  font-size: 20px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  line-height: 24px;
  margin-bottom: 10px;
  color: var(--primary-color);
}
.store {
  width: 171px;
}
.google-play {
  margin-bottom: 10px;
}
.store > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-last {
  border-top: 1px solid var(--primary-color);
  margin-top: 40px;
  padding: 20px 0;
  color: var(--primary-color);
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copy {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  color: var(--primary-color);
  flex: 1;
  text-align: left;
}

.terms {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px;
  display: flex;
  justify-content: center;
  flex: 1;
}

.terms li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 15px;
}

.terms li span {
  color: var(--primary-color);
}

.scroll-top {
  flex: 1;
  text-align: right;
}

.scroll-top a {
  background-color: #00c28c; /* green arrow */
  color: var(--primary-color);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  transition: background 0.3s;
}

.scroll-top a:hover {
  background-color: #00a876;
}
.scroll-top {
  width: 54px;
}
.scroll-top > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* media-query */
@media screen and (max-width: 1400px) {
  /* browse-section */
  .browse-top-left {
    width: 648px;
    margin: 5px auto;
    text-align: center;
  }
  .browse-top-right {
    width: 648px;
    margin: 5px auto;
    text-align: center;
  }
  .browse-3 {
    margin: 5px auto;
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  /* Header-Section */
  .offcanvas {
    flex-direction: column !important;
  }
  .navbar-nav,
  .navbtn,
  .nav-item {
    margin: 0 !important;
    text-align: center !important;
  }
  .navbar-nav {
    border: none;
  }
  .nav-link {
    margin: 6px 0 !important;
  }
   /* modal */
  .modal-dialog {
    margin: 35px auto !important;
  }
  .ca-left h1 {
    font-size: 42px;
  }
  .ca-right h1 {
    font-size: 36px;
  }
  .left-btn {
    padding: 18px 70px;
  }
  .ca-car {
    width: 411px;
    position: absolute;
    bottom: -6px;
    left: -3%;
  }
  /* bmw-section */
  .box {
    width: 180px;
    height: 140px;
  }
  .bmw-specification h2 {
    font-size: 34px;
  }
  /* browse-sec */
  .browse-sec {
    padding-bottom: 44px;
  }
  .lase-browse {
    margin: 6px auto;
  }
  .browse-top-left {
    width: 648px;
    margin: 5px auto;
    text-align: center;
  }
  .browse-top-right {
    width: 648px;
    margin: 5px auto;
    text-align: center;
  }
  /* premimum-sec */
  .premum-head h5 {
    font-size: 36px;
  }
  /* Brand-section */
  .brand-img,
  .brand-img-4 {
    width: 90px;
  }
  .brand-part {
    gap: 35px;
    animation-duration: 11s;
  }
  /* footer-section */
  .footer-top,
  .footer-bottom {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .footer-2 {
    width: auto;
  }
}
@media screen and (max-width: 992px) {
  /* header-Section */
  .offcanvas {
    flex-direction: column !important;
  }
  .navbar-nav,
  .navbtn,
  .nav-item {
    margin: 0 !important;
    text-align: center !important;
    padding: 0 !important;
  }
   /* modal */
  .modal-dialog {
    margin: 30px auto !important; /* space top + bottom */
    padding: 0 10px; /* little side gap */
  }
  .modal-dialog {
    max-width: 90%;
    margin: auto;
  }

  /* Modal becomes full width 1-column */
  .ca-modal {
    flex-direction: column;
  }

  .ca-left,
  .ca-right {
    width: 100%;
    padding: 40px 25px;
    position: relative;
  }

  /* car image stays bottom center ALWAYS */
  .ca-left {
    padding-bottom: 180px;
    min-height: 420px;
  }

  .ca-car {
    bottom: -26px !important;
    left: 50% !important;
    transform: translateX(-50%);
    width: 65%;
    max-width: 350px;
  }
  .close-right-btn {
    position: absolute;
    top: -457px;
    right: 3px;
    background: transparent;
    border: none;
    font-size: 28px;
    color: var(--primary-color);
    cursor: pointer;
    z-index: 10;
  }

  .input-line {
    width: 85%;
    max-width: 350px;
  }
  /* bmw-section */
  .col-5,
  .col-7 {
    width: 100%;
  }

  .bmw-sec {
    padding: 60px 0;
  }

  .bmw-img {
    max-width: 100%;
    height: 280px;
  }

  .drive-bmw {
    margin-bottom: 30px;
  }

  .box-sec {
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .box {
    width: 45%;
    height: auto;
    padding: 18px;
  }

  .bmw-specification h2 {
    margin-top: 20px;
    text-align: center;
  }

  .equipment-heading h2 {
    text-align: center;
  }
  /* browse-sec */
  .browse-top-left > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 5px auto;
    text-align: center;
  }
  .browse-1 {
    margin: 4px auto;
    width: 647px;
  }
  .browse-2 {
    margin: 4px auto;
    width: 562px;
  }
  .browse-3 {
    margin: 4px auto;
    width: 562px;
  }
  /* Shop-section */
  .shop-link {
    margin-right: 17px;
    font-size: 20px;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
    color: var(--tertiary-color);
  }
  .card-btn {
    margin-top: 18px;
    text-align: center;
  }
  /* premimum-sec */
  .premimum-seco {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  /* brand-section */
  .brand-img,
  .brand-img-4 {
    width: 80px;
  }
  .brand-part {
    gap: 30px;
    animation-duration: 10s;
  }
  /* footer-section */
  .footer-top {
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    text-align: center;
  }
  .logo-social {
    margin: 0 auto;
  }
  .store {
    text-align: center;
    margin: 0 auto;
  }

  .footer-cntn {
    justify-content: center !important;
  }

  .footer-bottom {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    text-align: center;
  }

  .footer-1 {
    max-width: 100%;
    text-align: center;
  }

  .footer-2 {
    width: 45%;
    text-align: center;
  }

  .footer-3 {
    width: 100%;
    text-align: center;
  }

  .download-heading {
    margin-top: 20px;
  }
  .google-play {
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 768px) {
  /* modal */
  .modal-dialog {
    margin: 25px auto !important;
  }
  .close-right-btn {
    position: absolute;
    top: -403px;
    right: 21px;
    background: transparent;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    z-index: 78;
  }
  .ca-left {
    padding: 35px 20px 160px;
    min-height: 380px;
  }

  .ca-right {
    padding: 35px 20px;
  }

  .ca-car {
    width: 80%;
    max-width: 300px;
  }

  .ca-left h1,
  .ca-right h1 {
    font-size: 30px;
  }

  .social-icons i {
    width: 42px;
    height: 42px;
    font-size: 22px;
    padding: 8px;
  }
  /* bmw-section */
  .bmw-sec {
    padding: 50px 0;
  }

  .bmw-heading h2 {
    font-size: 30px;
  }

  .btn-bmw {
    padding: 12px 35px;
  }

  .drive-bmw .bm1 {
    width: 120px;
    height: 80px;
  }

  .box {
    width: 48%;
  }

  .box-icon {
    width: 30px;
    height: 30px;
  }

  .tick-section p {
    font-size: 15px;
  }
  /* browse-sec */
  .browse-top-left {
    width: 558px;
    margin: 5px auto;
    text-align: center;
  }
  .browse-top-left {
    width: 550px;
    margin: 5px auto;
    text-align: center;
    height: fit-content;
  }
  .browse-1 {
    margin: 4px auto;
    width: 550px;
    height: fit-content;
  }
  .browse-top-right {
    width: 550px;
    margin: 5px auto;
    text-align: center;
  }
  /* shop-section */
  .car-varient {
    font-size: 18px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    color: var(--tertiary-color);
    margin-bottom: 6px;
  }
  /* premimum-section */
  .premum-head > h5 {
    font-size: 28px;
    line-height: 34px;
  }
  /* brand-section */
  .brand-img,
  .brand-img-4 {
    width: 70px;
  }
  .brand-part {
    gap: 25px;
    animation-duration: 9s;
  }
  /* footer-sec */
  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-cntn {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
  }

  .footer-2 {
    width: 100%;
  }

  .footer-last {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .copy {
    order: 3;
  }

  .terms {
    order: 1;
    justify-content: center;
  }

  .scroll-top {
    order: 2;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  /* Header-section */
  .navbar-brand {
    width: 90px;
  }
   /* MODAL */
  .modal-dialog {
    margin: 20px auto !important;
  }
  .ca-left {
    padding-bottom: 150px;
    min-height: 360px;
  }

  .ca-car {
    width: 85%;
    max-width: 270px;
  }

  .input-line {
    width: 100%;
    padding: 10px 12px;
  }

  .input-line input {
    font-size: 14px;
  }

  .right-btn {
    padding: 10px 35px;
    font-size: 16px;
  }

  .social-icons i {
    width: 43px;
    height: 41px;
    font-size: 24px;
  }
  /* banner-section */
  .banner-heading {
    font-size: 41px;
    font-weight: 400;
    color: var(--primary-color);
  }
  .banner-heading > a {
    font-size: 41px;
    font-weight: 400;
    color: var(--primary-color);
  }
  /* bmw-section */
  .bmw-sec {
    padding: 40px 0;
  }

  .bmw-heading h2 {
    font-size: 26px;
  }

  .bmw-img {
    height: 240px;
  }

  .drive-bmw .bm1 {
    width: 100px;
    height: 65px;
  }

  .box {
    width: 100%;
  }

  .bmw-specification h2 {
    font-size: 28px;
  }

  .equipment-heading h2 {
    font-size: 26px;
  }

  .tick-section img {
    width: 18px;
    height: 18px;
  }
  /* browse=section */
  .browse-heading > h5 {
    font-size: 29px;
    font-weight: 500;
    line-height: 40px;
    color: var(--tertiary-color);
  }
  .browse-top-left {
    width: 360px;
    margin: 5px auto;
    text-align: center;
  }
  .browse-top-right {
    width: 360px;
    margin: 5px auto;
    text-align: center;
  }
  .browse-3 {
    width: 360px;
    margin: 5px auto;
    text-align: center;
  }
  .browse-2 {
    width: 360px;
    margin: 5px auto;
    text-align: center;
  }
  .browse-1 {
    width: 360px;
    margin: 5px auto;
    text-align: center;
  }
  .browse-heading > h5 {
    font-size: 29px;
    font-weight: 500;
    line-height: 40px;
    color: var(--tertiary-color);
    text-align: center;
  }
  .browse-btn {
    position: absolute;
    bottom: 22px;
    left: 16px;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 6px 12px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  .btn-tertiary {
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 400;
    border: 1px solid var(--secondary-color);
    padding: 0px 0 0px 9px;
  }
  /* Shop-section */
  .shop-heading > h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 31px;
    margin-bottom: 50px;
  }
  .shopbox-sec {
    padding-bottom: 18px;
  }
  .shop-link {
    margin-right: 5px;
    font-size: 13px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    color: var(--tertiary-color);
  }
  .shop-heading > h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 31px;
    margin-bottom: 27px;
  }
  .card-btn {
    margin-top: 13px;
    text-align: center;
  }
  .car-varient {
    list-style: none;
    padding: 5px 0;
    font-size: 16px;
    color: #333;
    transition: color 0.3s ease;
  }
  /* premimum-sec */
  .premium-sec {
    padding-bottom: 45px;
  }
  /* Brand-section */
  .brand-img,
  .brand-img-4 {
    width: 60px;
  }
  .brand-part {
    gap: 20px;
    animation-duration: 8s;
  }
  /* footer-section */
  .footer-sec {
    padding-top: 25px;
  }

  .footer-logo {
    width: 140px;
  }

  .footer-para {
    font-size: 14px;
  }

  .footer-heading {
    font-size: 18px;
  }

  .footer-link {
    font-size: 14px;
  }

  .footer-1 h5 {
    font-size: 15px;
    line-height: 24px;
  }

  .socal-logo {
    width: 28px;
  }

  .store {
    width: 150px;
  }

  .terms li a {
    font-size: 13px;
  }

  .copy {
    font-size: 13px;
  }

  .scroll-top {
    width: 45px;
  }
}
@media screen and (max-width: 400px) {
  /* modal */
  .modal-dialog {
    margin: 15px auto !important;
  }
  .close-right-btn {
    position: absolute;
    top: -354px;
    right: 7px;
    background: transparent;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    z-index: 78;
  }
  .ca-left,
  .ca-right {
    padding: 25px 15px;
  }

  .ca-left {
    padding-bottom: 140px;
    min-height: 340px;
  }

  .ca-car {
    width: 90%;
  }

  .ca-left h1,
  .ca-right h1 {
    font-size: 24px;
  }

  .left-btn {
    padding: 10px 30px;
    font-size: 15px;
  }

  .social-icons i {
    width: 43px;
    height: 41px;
    font-size: 24px;
  }
  /* bmw-section */
  .bmw-heading p {
    font-size: 16px;
  }

  .bmw-img {
    height: 200px;
  }

  .drive-bmw {
    gap: 10px;
  }

  .drive-bmw .bm1 {
    width: 90px;
    height: 55px;
  }

  .btn-bmw {
    padding: 10px 28px;
    font-size: 14px;
  }

  .tick-section p {
    font-size: 14px;
  }

  /* browse-section */
  .browse-top-left {
    width: 300px;
    margin: 5px auto;
    text-align: center;
  }
  .browse-top-right {
    width: 300px;
    margin: 5px auto;
    text-align: center;
  }
  .browse-3 {
    width: 300px;
    margin: 5px auto;
    text-align: center;
  }
  .browse-2 {
    width: 300px;
    margin: 5px auto;
    text-align: center;
  }
  .browse-1 {
    width: 300px;
    margin: 5px auto;
    text-align: center;
  }
  /* footer-section */
  .footer-top {
    gap: 15px;
  }

  .footer-logo {
    width: 120px;
  }

  .address-logo {
    width: 28px;
  }

  .footer-para {
    font-size: 13px;
  }

  .footer-heading {
    font-size: 16px;
  }

  .footer-link {
    font-size: 13px;
  }

  .footer-last {
    padding: 15px 0;
  }

  .scroll-top {
    width: 40px;
  }
}
@media (max-width: 375px) {
   /* modal */
  .modal-dialog {
    margin: 12px auto !important;
  }
  .ca-left {
    padding-bottom: 130px;
    min-height: 320px;
  }

  .ca-car {
    width: 95%;
  }

  .input-line {
    padding: 8px 10px;
  }

  .left-btn,
  .right-btn {
    font-size: 14px;
    padding: 8px 22px;
  }
  .banner-heading {
    font-size: 30px;
  }

  .small-heading {
    font-size: 16px;
  }

  .btn-secondary {
    padding: 2px 8px;
  }

  .btn-secondary > span {
    padding-left: 20px;
    padding-right: 18px;
  }
  /* modal */
  .ca-left h1,
  .ca-right h1 {
    font-size: 20px;
  }

  .input-line {
    padding: 8px 10px;
  }

  .right-btn {
    font-size: 14px;
    padding: 8px 20px;
  }

  .social-icons i {
    width: 43px;
    height: 41px;
    font-size: 24px;
  }
  .bmw-heading h2 {
    font-size: 22px;
  }

  .bmw-img {
    height: 180px;
  }

  .drive-bmw .bm1 {
    width: 80px;
    height: 50px;
  }

  .box {
    padding: 15px;
  }
}
@media screen and (max-width: 320px) {
  /* modal */
  .modal-dialog {
    margin: 10px auto !important;
  }
  .ca-left {
    padding-bottom: 120px;
    min-height: 300px;
  }

  .ca-left h1,
  .ca-right h1 {
    font-size: 18px;
  }

  .social-icons i {
    width: 43px;
    height: 41px;
    font-size: 24px;
  }

  .input-line {
    width: 100%;
    font-size: 12px;
  }

  .right-btn {
    padding: 6px 18px;
    font-size: 13px;
  }
  /* bmw-sec */
  .bmw-sec {
    padding: 30px 0;
  }

  .bmw-heading h2 {
    font-size: 20px;
  }

  .btn-bmw {
    padding: 8px 20px;
    font-size: 13px;
  }

  .bmw-img {
    height: 160px;
  }

  .drive-bmw .bm1 {
    width: 70px;
    height: 45px;
  }

  .tick-section p {
    font-size: 13px;
  }
  /* premimum-sec */
  .premum-head h5 {
    font-size: 20px;
    line-height: 26px;
  }
  /* brand-section */
  .brand-img > img {
    width: 125%;
    height: 100%;
    object-fit: cover;
  }
}
