@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
body,
html {
  overflow-x: hidden;
  font-family: "Clash Display", sans-serif;
}
:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --tertiary-color: #050b20;
  --line-color: #405ff2;
  --card-color: #06201d;
  --btn-color: #00b67a;
  --footer-color: #06201d;
  --bookig: #109469;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1320px !important;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style-type: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
nav,
.navbar-collapsed,
.navbar-collapsed > ul {
  display: flex;
  align-items: center;
}
.btn-nav {
  position: relative;
  padding: 15.5px 31.5px;
  color: var(--secondary-color);
  background: var(--primary-color);
  font-family: "DM Sans", sans-serif;
  border-radius: 33px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  transition: color 0.3s ease, transform 0.3s ease;
  z-index: 1;
}
.btn-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0%;
  height: 100%;
  background: var(--btn-color);
  transition: width 0.5s ease;
  transform: translateX(-50%);
  z-index: -1;
  border-radius: 33px;
}

.btn-nav:hover {
  color: var(--primary-color);
}
.btn-nav:hover::before {
  width: 100%;
}
/* Header-Section */
.hdr-sec {
  padding: 30px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.navbar-brand {
  width: 166px;
}
.navbar {
  background: none !important;
}
.nav-logo {
  margin-right: 79px;
}
.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navbar-nav {
  border: 1px solid var(--primary-color);
  width: 662px !important;
  padding: 17px 27px 17px 0;
  margin: 0 auto;
  align-items: center;
  border-radius: 68px;
}
.navbtn {
  margin-left: 79px;
}
.offcanvas {
  flex-direction: row !important;
  align-items: center;
  background: rgba(0, 0, 0, 0.4); /* semi-transparent black */
  backdrop-filter: blur(20px); /* blur intensity for glass effect */
  -webkit-backdrop-filter: blur(20px); /* for Safari support */
  border: 1px solid rgba(255, 255, 255, 0.1); /* optional: subtle glass border */
}
.nav-link {
  padding: 0 !important;
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 400;
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}
.first-link {
  margin-left: 27px;
}
.nav-item {
  margin-right: 27px;
}
.navbar-nav > li > .nav-item:last-child {
  margin: 0 !important;
}
/* hover-effect nav-link*/
.nav-link::before,
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--btn-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: center;
  border-radius: 5px;
}
.nav-link::before {
  top: -6px;
}
.nav-link::after {
  bottom: -6px;
}
.nav-link:hover {
  color: var(--primary-color);
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}
/* modal */
.modal {
  padding-right: 0 !important;
}
.ca-modal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  border-radius: 28px;
  overflow: hidden;
  border: none;
}

/* LEFT */
.ca-left {
  width: 50%;
  background: url(../assets/moda-back.png) center/cover no-repeat;
  padding: 60px 40px;
  position: relative;
  text-align: center;
}

.ca-left h1 {
  font-size: 49px;
  font-weight: 500;
  margin-bottom: 38px;
  color: var(--primary-color);
}

.ca-left .sub-txt {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 38px;
  font-family: "DM Sans", sans-serif;
}

.left-btn {
  border: 1px solid var(--primary-color);
  background: transparent;
  padding: 20px 97px;
  border-radius: 43px;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.ca-car {
  width: 411px;
  position: absolute;
  bottom: -6px;
  left: 12%;
}
.ca-car > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT */
.ca-right {
  width: 50%;
  background: var(--btn-color);
  padding: 60px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ca-right h1 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 25px;
}

/* Social icons */
.social-icons i {
  font-size: 30px;
  background: var(--primary-color);
  padding: 10px;
  width: 48px;
  height: 48px;
  line-height: 28px;
  border-radius: 50%;
  margin: 0 8px;
  color: var(--btn-color);
  cursor: pointer;
}

.small-text {
  margin-top: 18px;
  margin-bottom: 25px;
  color: var(--primary-color);
  opacity: 0.8;
  font-size: 14px;
}

/* Inputs */
.input-line {
  width: 340px;
  background: #c8ffd9;
  padding: 12px 15px;
  border-radius: 7px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.input-line input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
}

.right-btn {
  background: var(--primary-color);
  color: var(--btn-color);
  padding: 14px 55px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  border: none;
  font-family: "DM Sans", sans-serif;
}
.close-right-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  background: transparent;
  border: none;
  font-size: 28px;
  color: var(--primary-color);
  cursor: pointer;
  z-index: 10;
}

.close-right-btn:hover {
  color: #000;
  transform: scale(1.1);
  transition: 0.3s;
}
.modal-dialog {
  margin: 40px auto !important;
}
.left-btn,
.right-btn {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  z-index: 1;
}

/* Hover Effect Background Fill */
.left-btn::before,
.right-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0%;
  height: 100%;
  background: #00b67a;
  transition: width 0.5s ease;
  transform: translateX(-50%);
  z-index: -1;
  border-radius: inherit;
}

/* Text color change on hover */
.left-btn:hover,
.right-btn:hover {
  color: var(--primary-color) !important;
  border-color: var(--btn-color);
}

/* Fill animation */
.left-btn:hover::before,
.right-btn:hover::before {
  width: 100%;
}
/* Banner-Section */
.banner-sec {
  position: relative;
  min-height: 100vh;
  padding: 0 0 100px;
  background: url(../assets/contact/contact-banner.png) no-repeat center/cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  z-index: 1;
}
.banner-sec::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.banner-cntn {
  position: relative;
  z-index: 2;
}
.banner-heading {
  font-size: 70px;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.banner-sub-heading > a {
  font-size: 40px;
  font-weight: 400;
  color: var(--primary-color);
}
.banner-sub-heading {
  font-size: 40px;
  font-weight: 400;
  color: var(--primary-color);
}

.banner-sub-heading > a:hover {
  color: var(--btn-color);
}
/* Book-section */
.book-sec {
  padding: 160px 0;
}

.booking-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.booking-card {
  width: 437px;
  height: 563px;
  background: #d4f5dd;
  padding: 40px;
  border-radius: 20px;
  flex-shrink: 0;
}

.card-heading {
  text-align: center;
  margin-bottom: 35px;
}

.card-heading h2 {
  font-size: 32px;
  color: var(--secondary-color);
  font-weight: 700;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 35px;
}

.form-group select,
.form-group input {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  border: none;
  padding: 0 15px;
  background: var(--btn-color);
  color: var(--primary-color);
  font-size: 15px;
}

.book-btn {
  width: 100%;
  height: 55px;
  background: var(--btn-color);
  color: var(--primary-color);
  border: none;
  border-radius: 35px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
}
.book-btn {
  width: 100%;
  height: 55px;
  background: var(--btn-color);
  color: var(--primary-color);
  border: none;
  border-radius: 35px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease;
}

.book-btn:hover {
  background: var(--bookig);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(20, 197, 110, 0.35);
}

.car-img {
  flex: 1;
  border-radius: 20px;
  overflow: hidden;
}

.car-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* information-section */

.outer {
  max-width: 1320px;
  min-height: 136px;
  background: var(--primary-color);
  border-radius: 63px;
  padding: 34px 50px;
  background: #d4f5dd;
}

.info {
  display: flex;
  align-items: center;
  gap: 18px;
}

.info-img {
  width: 66px;
  height: 68px;
  border-radius: 50%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  color: var(--secondary-color);
}

.value {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  color: var(--secondary-color);
}
/* Choose-Section */
.choose-sec {
  padding: 100px 0 100px;
}
.choose-heading {
  font-size: 40px;
  font-weight: 400;
  color: var(--secondary-color);
}
.choose-fist {
  margin-top: 58px;
}
.choose-img {
  width: 51px;
}
.choose-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.choose-head {
  font-size: 20px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: var(--tertiary-color);
  margin-bottom: 17px;
}
.choose-para {
  font-size: 16px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  line-height: 23px;
}
.sub-choose {
  margin-top: 40px;
}
.choose-sub {
  margin-top: 75px;
}
.choose-main {
  width: 386px;
  margin-top: 100px;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
  cursor: pointer;
}
.choose-main > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 37px;
}
/* Team-section */
.our-team {
  padding-bottom: 100px;
  /* margin-bottom: 42px; */
}
.team-heading > h6 {
  font-size: 40px;
  font-weight: 500;
  color: var(--tertiary-color);
}
.member {
  width: 419px;
}
.member > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.member-name {
  font-size: 20px;
  font-family: 500;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0 !important;
}
.member-role {
  font-size: 14px;
  font-family: 400;
  font-family: "DM Sans", sans-serif;
}
.card-text:last-child {
  margin-bottom: 0 !important;
  margin-top: 308px;
}
.btn-tertiary {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 400;
  border: 1px solid var(--secondary-color);
  padding: 1px 0 0px 20px;
  border-radius: 48px;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  z-index: 1;
}

.btn-tertiary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--btn-color);
  transition: width 0.4s ease;
  z-index: -1;
}

.btn-tertiary:hover::before {
  width: 100%;
}

.btn-tertiary:hover {
  color: var(--primary-color);
}

.card-btn > .btn-tertiary > img {
  width: 46px;
  object-fit: cover;
  position: relative;
  z-index: 2;
}
.card-btn {
  margin-top: 52px;
  text-align: center;
}
/* Blog-Section */
.blog-sec {
  padding-bottom: 100px;
}
.blog-heading > h6 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  color: var(--tertiary-color);
  margin-bottom: 76px;
}
.second-card {
  max-width: 414px !important;
  min-height: 519px !important;
  padding: 20px 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  background: var(--primary-color);
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}
.second-card:hover {
  transform: translateY(-5px);
  box-shadow: 12px 14px 25px rgba(0, 0, 0, 0.18);
}

.card-background,
.second-background,
.third-background {
  height: 250px;
  border-radius: 20px 20px 0 0;
  background-size: cover;
  background-position: center;
}

.card-background {
  width: 336px;
  height: 354px;
  background: url(../assets/blog-1.png) no-repeat center/cover;
  border-radius: 16px;
  margin-bottom: 32px;
}

.blog-btn {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 15px 2.1px;
  border-radius: 30px;
  padding: 15px 2.1px;
  background: var(--primary-color);
}
.title-card {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  color: var(--secondary-color);
  margin-top: 5px;
  font-weight: 500;
}
.admin {
  font-size: 16px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}
.date {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
.second-background {
  width: 336px;
  height: 354px;
  background: url(../assets/blog-2.png) no-repeat center/cover;
  border-radius: 16px;
  margin-bottom: 32px;
}
.third-background {
  width: 336px;
  height: 354px;
  background: url(../assets/blog-3.png) no-repeat center/cover;
  border-radius: 16px;
  margin-bottom: 32px;
}
/* premimum-section */
.premium-sec {
  padding-bottom: 62px;
}
.premum-head > h5 {
  font-size: 40px;
  font-weight: 500;
  color: var(--tertiary-color);
}
.premimum-seco {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* brand-section */
.brand-sec {
  padding-bottom: 100px;
  overflow: hidden;
}

.brand-slider {
  display: flex;
  overflow: hidden;
  position: relative;
}

.brand-track {
  display: flex;
  align-items: center;
  gap: 40px;
  animation: scroll 10s linear infinite;
}

.brand-img,
.brand-img-4 {
  flex-shrink: 0;
}

.brand-img {
  width: 100px;
}

.brand-img-4 {
  width: 151px;
}

.brand-img img,
.brand-img-4 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Smooth, never-ending scroll */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Optional: pause on hover */
.brand-slider:hover .brand-track {
  animation-play-state: paused;
}
/* footer-section */
.footer-sec {
  background: var(--footer-color);
  padding-top: 34px;
}
.footer-logo {
  width: 168px;
}
.footer-top {
  margin-bottom: 61px;
}
.footer-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.address-logo {
  width: 40px;
}
.address-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.address-logo:hover {
  transform: translateY(-4px);
}
.footer-para {
  font-size: 20x;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 0 !important;
  margin-left: 12px;
  font-family: "DM Sans", sans-serif;
}
.footer-1 {
  max-width: 291px;
}
.footer-1 > h5 {
  font-size: 20px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  line-height: 27.8px;
  color: var(--primary-color);
  line-height: 27.8px;
  margin-bottom: 32px;
}
.socal-logo {
  width: 34px;
}
.socal-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.socal-logo:hover {
  transform: translateY(-4px);
}
.footer-2 {
  width: 110px;
}
.footer-heading {
  font-size: 22px;
  font-weight: 600;
  color: var(--primary-color);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 15px;
}
.footer-link > a {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 6px;
}
.footer-link > a:hover {
  color: var(--btn-color);
}
.download-heading {
  font-size: 20px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  line-height: 24px;
  margin-bottom: 10px;
  color: var(--primary-color);
}
.store {
  width: 171px;
}
.google-play {
  margin-bottom: 10px;
}
.store > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-last {
  border-top: 1px solid var(--primary-color);
  margin-top: 40px;
  padding: 20px 0;
  color: var(--primary-color);
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copy {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  color: var(--primary-color);
  flex: 1;
  text-align: left;
}

.terms {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px;
  display: flex;
  justify-content: center;
  flex: 1;
}

.terms li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 15px;
}

.terms li span {
  color: var(--primary-color);
}

.scroll-top {
  flex: 1;
  text-align: right;
}

.scroll-top a {
  background-color: var(--btn-color);
  color: var(--primary-color);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  transition: background 0.3s;
}

.scroll-top a:hover {
  background-color: var(--bookig);
}
.scroll-top {
  width: 54px;
}
.scroll-top > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* media-query */
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
  /* Header-Section */
  .offcanvas {
    flex-direction: column !important;
  }
  .navbar-nav,
  .navbtn,
  .nav-item {
    margin: 0 !important;
    text-align: center !important;
  }
  .navbar-nav {
    border: none;
  }
  .nav-link {
    margin: 6px 0 !important;
  }
  /* modal */
  .modal-dialog {
    margin: 35px auto !important;
  }
  .ca-left h1 {
    font-size: 42px;
  }
  .ca-right h1 {
    font-size: 36px;
  }
  .left-btn {
    padding: 18px 70px;
  }
  .ca-car {
    width: 411px;
    position: absolute;
    bottom: -6px;
    left: -3%;
  }
  /* book-section */
  .booking-wrapper {
    gap: 30px;
  }
  .booking-card {
    width: 400px;
    height: auto;
  }
  /* information-section */
  .outer {
    padding: 30px 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
  .info {
    flex: 1 1 calc(50% - 40px);
    justify-content: flex-start;
  }
  /* Choose-section */
  .choose-heading {
    font-size: 40px;
    font-weight: 400;
    color: var(--secondary-color);
    margin: 0 auto;
    text-align: center;
  }
  .choose-fist {
    margin-top: 58px;
    text-align: center;
  }
  .choose-head {
    font-size: 20px;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
    color: var(--tertiary-color);
    margin-bottom: 17px;
    text-align: center;
  }
  .choose-para {
    text-align: center;
  }
  .choose-main {
    margin: 0 auto;
  }
  .choose-img {
    margin: 0 auto;
  }
  /* team-section */
  .our-team {
    padding-bottom: 50px;
    /* margin-bottom: 42px; */
  }
  /* member-section */
  .last-member {
    margin: 0 auto;
    text-align: center;
  }
  .last-name,
  .last-role {
    text-align: center;
  }
  /* blog-section */
  .last-card {
    margin: 5px auto;
  }
  .blog-heading > h6 {
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    color: var(--tertiary-color);
    margin-bottom: 36px;
    text-align: center;
  }
  /* premimum-sec */
  .premum-head h5 {
    font-size: 36px;
  }
  /* Brand-section */
  .brand-img,
  .brand-img-4 {
    width: 90px;
  }
  .brand-part {
    gap: 35px;
    animation-duration: 11s;
  }
  /* footer-section */
  .footer-top,
  .footer-bottom {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .footer-2 {
    width: auto;
  }
}
@media screen and (max-width: 992px) {
  /* header-Section */
  .offcanvas {
    flex-direction: column !important;
  }
  .navbar-nav,
  .navbtn,
  .nav-item {
    margin: 0 !important;
    text-align: center !important;
    padding: 0 !important;
  }
  /* modal */
  .modal-dialog {
    margin: 30px auto !important; /* space top + bottom */
    padding: 0 10px; /* little side gap */
  }
  .modal-dialog {
    max-width: 90%;
    margin: auto;
  }

  /* Modal becomes full width 1-column */
  .ca-modal {
    flex-direction: column;
  }

  .ca-left,
  .ca-right {
    width: 100%;
    padding: 40px 25px;
    position: relative;
  }

  /* car image stays bottom center ALWAYS */
  .ca-left {
    padding-bottom: 180px;
    min-height: 420px;
  }

  .ca-car {
    bottom: -26px !important;
    left: 50% !important;
    transform: translateX(-50%);
    width: 65%;
    max-width: 350px;
  }
  .close-right-btn {
    position: absolute;
    top: -457px;
    right: 3px;
    background: transparent;
    border: none;
    font-size: 28px;
    color: var(--primary-color);
    cursor: pointer;
    z-index: 10;
  }

  .input-line {
    width: 85%;
    max-width: 350px;
  }
  /* book-section */
  .book-sec {
    padding: 80px 0;
  }
  .booking-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .booking-card {
    width: 70%;
  }
  .car-img {
    width: 100%;
  }
  /* information-section */
  .outer {
    padding: 30px 35px;
    gap: 20px;
  }
  .info {
    flex: 1 1 100%;
  }
  /* member-section*/
  .member {
    margin: 0 auto;
    text-align: center;
  }
  .member-name,
  .member-role {
    text-align: center;
  }
  /* blog-section */
  .second-card {
    margin: 5px auto;
  }
  /* blog-section */
  .second-card {
    margin: 5px auto;
  }
  /* premimum-sec */
  .premimum-seco {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .premum-head h5 {
    font-size: 32px;
    line-height: 38px;
  }
  /* brand-section */
  .brand-img,
  .brand-img-4 {
    width: 80px;
  }
  .brand-part {
    gap: 30px;
    animation-duration: 10s;
  }
  /* footer-section */
  .footer-top {
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    text-align: center;
  }
  .logo-social {
    margin: 0 auto;
  }
  .store {
    text-align: center;
    margin: 0 auto;
  }

  .footer-cntn {
    justify-content: center !important;
  }

  .footer-bottom {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    text-align: center;
  }

  .footer-1 {
    max-width: 100%;
    text-align: center;
  }

  .footer-2 {
    width: 45%;
    text-align: center;
  }

  .footer-3 {
    width: 100%;
    text-align: center;
  }

  .download-heading {
    margin-top: 20px;
  }
  .google-play {
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 768px) {
  /* modal */
  .modal-dialog {
    margin: 25px auto !important;
  }
  .close-right-btn {
    position: absolute;
    top: -403px;
    right: 21px;
    background: transparent;
    border: none;
    font-size: 28px;
    color: var(--primary-color);
    cursor: pointer;
    z-index: 78;
  }
  .ca-left {
    padding: 35px 20px 160px;
    min-height: 380px;
  }

  .ca-right {
    padding: 35px 20px;
  }

  .ca-car {
    width: 80%;
    max-width: 300px;
  }

  .ca-left h1,
  .ca-right h1 {
    font-size: 30px;
  }

  .social-icons i {
    width: 42px;
    height: 42px;
    font-size: 22px;
    padding: 8px;
  }
  /* book-section */
  .booking-card {
    width: 90%;
    padding: 30px;
  }
  .card-heading h2 {
    font-size: 28px;
  }
  .form-group select,
  .form-group input {
    height: 48px;
  }
  /* information-section */
  .outer {
    border-radius: 40px;
    padding: 25px 25px;
  }
  .info-img {
    width: 58px;
    height: 58px;
  }
  .title {
    font-size: 14px;
  }
  .value {
    font-size: 15px;
  }
  * member-section */ .member {
    margin: 0 auto;
    text-align: center;
    width: 419px;
  }
  /* premimum-section */
  .premum-head > h5 {
    font-size: 28px;
    line-height: 34px;
  }
  /* brand-section */
  .brand-img,
  .brand-img-4 {
    width: 70px;
  }
  .brand-part {
    gap: 25px;
    animation-duration: 9s;
  }
  /* footer-sec */
  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-cntn {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
  }

  .footer-2 {
    width: 100%;
  }

  .footer-last {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .copy {
    order: 3;
  }

  .terms {
    order: 1;
    justify-content: center;
  }

  .scroll-top {
    order: 2;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  /* Header-section */
  .navbar-brand {
    width: 90px;
  }
  /* MODAL */
  .modal-dialog {
    margin: 20px auto !important;
  }
  .ca-left {
    padding-bottom: 150px;
    min-height: 360px;
  }

  .ca-car {
    width: 85%;
    max-width: 270px;
  }

  .input-line {
    width: 100%;
    padding: 10px 12px;
  }

  .input-line input {
    font-size: 14px;
  }

  .right-btn {
    padding: 10px 35px;
    font-size: 16px;
  }

  .social-icons i {
    width: 43px;
    height: 41px;
    font-size: 24px;
  }
  /* Banner-section */
  .banner-heading {
    font-size: 43px;
    font-weight: 400;
    color: var(--primary-color);
    margin-bottom: 10px;
  }
  .banner-sub-heading {
    font-size: 30px;
    font-weight: 400;
    color: var(--primary-color);
  }
  /* book-section */
  .book-sec {
    padding: 50px 0px;
  }
  .booking-card {
    width: 100%;
    padding: 25px;
  }
  .card-heading h2 {
    font-size: 26px;
  }
  /* information-section */
  .outer {
    padding: 22px 20px;
  }
  .info-img {
    width: 52px;
    height: 52px;
  }
  .info {
    gap: 15px;
  }
  /* Choose-section */
  .choose-sec {
    padding: 50px 0 50px;
  }
  .choose-heading {
    font-size: 33px;
    font-weight: 400;
    color: var(--secondary-color);
  }
  .choose-fist {
    margin-top: 13px;
  }
  .choose-main {
    width: 386px;
    margin-top: 50px;
  }
  .choose-main > img {
    width: 83%;
    height: 100%;
    object-fit: cover;
    border-radius: 37px;
  }
  /* member-section */
  .member {
    width: 360px;
  }
  .team-heading > h6 {
    font-size: 33px;
    font-weight: 500;
    color: var(--tertiary-color);
    text-align: center;
  }
  .btn-tertiary {
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 400;
    border: 1px solid var(--secondary-color);
    padding: 0px 0 0px 9px;
  }
  /* blog-section */
  .blog-sec {
    padding-bottom: 34px;
  }
  .title-card {
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    color: var(--secondary-color);
    margin-top: 5px;
    font-weight: 500;
  }
  .second-card {
    max-width: 376px !important;
    min-height: 473px !important;
    padding: 20px 0px;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    background: var(--primary-color);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
  }
  /* premimum-sec */
  .premium-sec {
    padding-bottom: 45px;
  }
  .premimum-seco {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .premum-head h5 {
    font-size: 24px;
    line-height: 30px;
  }
  /* Brand-section */
  .brand-img,
  .brand-img-4 {
    width: 60px;
  }
  .brand-part {
    gap: 20px;
    animation-duration: 8s;
  }
  /* footer-section */
  .footer-sec {
    padding-top: 25px;
  }

  .footer-logo {
    width: 140px;
  }

  .footer-para {
    font-size: 14px;
  }

  .footer-heading {
    font-size: 18px;
  }

  .footer-link {
    font-size: 14px;
  }

  .footer-1 h5 {
    font-size: 15px;
    line-height: 24px;
  }

  .socal-logo {
    width: 28px;
  }

  .store {
    width: 150px;
  }

  .terms li a {
    font-size: 13px;
  }

  .copy {
    font-size: 13px;
  }

  .scroll-top {
    width: 45px;
  }
}
@media screen and (max-width: 400px) {
  /* modal */
  .modal-dialog {
    margin: 15px auto !important;
  }
  .close-right-btn {
    position: absolute;
    top: -354px;
    right: 7px;
    background: transparent;
    border: none;
    font-size: 28px;
    color: var(--primary-color);
    cursor: pointer;
    z-index: 78;
  }
  .ca-left,
  .ca-right {
    padding: 25px 15px;
  }

  .ca-left {
    padding-bottom: 140px;
    min-height: 340px;
  }

  .ca-car {
    width: 90%;
  }

  .ca-left h1,
  .ca-right h1 {
    font-size: 24px;
  }

  .left-btn {
    padding: 10px 30px;
    font-size: 15px;
  }

  .social-icons i {
    width: 43px;
    height: 41px;
    font-size: 24px;
  }
  /* book-section */
  .card-heading h2 {
    font-size: 24px;
  }
  .form-group select,
  .form-group input {
    height: 45px;
    font-size: 14px;
  }
  .book-btn {
    height: 50px;
    font-size: 16px;
  }
  /* infoprmation-section */
  .outer {
    padding: 20px 18px;
  }
  .info-img {
    width: 46px;
    height: 46px;
  }
  .title {
    font-size: 13px;
  }
  .value {
    font-size: 14p;
  }
  /* member-section */
  .member {
    width: 300px;
  }
  /* premum-sec */
  .premum-head > h5 {
    font-size: 22px;
    line-height: 28px;
  }
  /* footer-section */
  .footer-top {
    gap: 15px;
  }

  .footer-logo {
    width: 120px;
  }

  .address-logo {
    width: 28px;
  }

  .footer-para {
    font-size: 13px;
  }

  .footer-heading {
    font-size: 16px;
  }

  .footer-link {
    font-size: 13px;
  }

  .footer-last {
    padding: 15px 0;
  }

  .scroll-top {
    width: 40px;
  }
}
@media (max-width: 375px) {
  /* modal */
  .modal-dialog {
    margin: 12px auto !important;
  }
  .ca-left {
    padding-bottom: 130px;
    min-height: 320px;
  }

  .ca-car {
    width: 95%;
  }

  .input-line {
    padding: 8px 10px;
  }

  .left-btn,
  .right-btn {
    font-size: 14px;
    padding: 8px 22px;
  }
  .banner-heading {
    font-size: 30px;
  }

  .small-heading {
    font-size: 16px;
  }

  .btn-secondary {
    padding: 2px 8px;
  }

  .btn-secondary > span {
    padding-left: 20px;
    padding-right: 18px;
  }
  /* modal */
  .ca-left h1,
  .ca-right h1 {
    font-size: 20px;
  }

  .input-line {
    padding: 8px 10px;
  }

  .right-btn {
    font-size: 14px;
    padding: 8px 20px;
  }

  .social-icons i {
    width: 43px;
    height: 41px;
    font-size: 24px;
  }
  .booking-card {
    padding: 20px;
  }
  .card-heading h2 {
    font-size: 22px;
  }
  /* info-section */
  .outer {
    padding: 18px 15px;
    border-radius: 32px;
  }
  .info-img {
    width: 42px;
    height: 42px;
    padding: 10px;
  }
  .info {
    gap: 12px;
  }
}
@media screen and (max-width: 320px) {
  /* modal */
  .modal-dialog {
    margin: 10px auto !important;
  }
  .ca-left {
    padding-bottom: 120px;
    min-height: 300px;
  }

  .ca-left h1,
  .ca-right h1 {
    font-size: 18px;
  }

  .social-icons i {
    width: 43px;
    height: 41px;
    font-size: 24px;
  }

  .input-line {
    width: 100%;
    font-size: 12px;
  }

  .right-btn {
    padding: 6px 18px;
    font-size: 13px;
  }
  /* book-section */
  .booking-card {
    padding: 18px;
  }
  .card-heading h2 {
    font-size: 20px;
  }
  .form-group select,
  .form-group input {
    height: 42px;
    font-size: 13px;
  }
  .book-btn {
    height: 45px;
    font-size: 15px;
  }
  .outer {
    padding: 15px 12px;
    border-radius: 28px;
  }
  .info-img {
    width: 38px;
    height: 38px;
  }
  .title {
    font-size: 12px;
  }
  .value {
    font-size: 13px;
  }
  /* premimum-sec */
  .premum-head h5 {
    font-size: 20px;
    line-height: 26px;
  }
  .premimum-seco {
    gap: 12px;
  }
  /* brand-section */
  .brand-img > img {
    width: 125%;
    height: 100%;
    object-fit: cover;
  }
}
